@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* Colors */
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* Neutral */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--very-light-gray);
}

main {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  margin: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title1 {
  font-size: 1.55rem;
  font-weight: 200;
  color: var(--very-dark-blue);
  text-align: center;
}

.title2 {
  font-size: 1.6em;
  text-align: center;
  font-weight: 600;
  color: var(--very-dark-blue);
}

.paragraph {
  font-size: .94rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: var(--grayish-blue);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 15rem;
  padding: 1.5rem;
  box-shadow: .15rem .15rem .5rem var(--grayish-blue);
  border-radius: .3rem;
  
}

.card h1 {
  color: var(--very-dark-blue);
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: .5rem;
}

.card p {
  color: var(--grayish-blue);
  font-size: .9rem;
  line-height: 1.4rem;
}

.cardIcon {
  display: flex;
  justify-content: end;
  padding-top: 2.7rem;
}

#cardSupervisor {
  border-top: .3rem solid var(--cyan);
}

#cardTeamBuilder {
  border-top: .3rem solid var(--red);
}

#cardKarma {
  border-top: .3rem solid var(--orange);
}

#cardCalculator {
  border-top: .3rem solid var(--blue);
}

footer {
  text-align: center;
  padding: .5rem;
  font-size: .8rem;
  color: var(--very-dark-blue);
}

footer a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
}

@media (min-width: 1300px) {
  .container {
    padding: 2.5rem 5rem;
  }

  .content {
    padding: 0 20rem;
  }

  .title1 {
    font-size: 2.1rem;
  }
  
  .title2 {
    font-size: 2.1em;
  }
  
  .paragraph {
    font-size: .97rem;
    padding-bottom: 0;
  }

  .cards {
    display: grid;
    width: 67rem;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 1.5rem;
    justify-self: center;
    align-self: center;
  }

  #cardSupervisor {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: end;
  }

  #cardTeamBuilder {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
  }

  #cardKarma {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
  }

  #cardCalculator{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .card h1 {
    color: var(--very-dark-blue);
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: .5rem;
  }
  
  .card p {
    color: var(--grayish-blue);
    font-size: .8rem;
    line-height: 1.4rem;
  }

  footer {
    font-size: .9rem;
  }
}